html, body{
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'Walter Turncoat', cursive;
	width: 300px;
	height: 200px;
	overflow: hidden;
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: orange;
	text-decoration: none;
}
.button{
	color: orange;
	cursor: pointer;
	background: none;
	font-family: 'Walter Turncoat', cursive;
	font-size: 18px;
	border: none;
	border-bottom: 1px dotted orange;
}
.button:hover{
	color: orange;
}
#main{
	width: 290px;
	height: 200px;
	border: 1px black solid;
	background: url(../img/bg.png);
	padding: 0 5px;
}
#title{
	height: 30px;
	width: 100%;
	
	text-align: center;
}
#title h3{
	color: white;
	margin: 0;
	padding: 0;
	font-weight: 400;
	display: inline;
}
#back{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.screen{
	display: none;
	margin: 0px;
	height: 158px;
}
.card{
	display: none;	
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}
#numTerms{
	text-align: center;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-family: 'Walter Turncoat', cursive;

}
textarea:focus, input:focus{
	outline: none;
	border-bottom: 1px solid orange;
}
#ajaxload{
	margin: 50px auto 0px auto;
	width: 32px;
	display: block;
}
.prev, .next{
	position: absolute;
	top: 20px;
	background: none;
	color: white;
	font-family:'Walter Turncoat', cursive;
	font-size: 40px;
	border: none;
	cursor: pointer;
}
.prev:hover, .next:hover{
	color: orange;
}
.prev{	
	left: 0px;
}
.next{
	right: 0px;
}
.term{
	font-size: 20px;
	margin: 0;
	top:30px;
	position: relative;
	display: inline;
}
.def{
	margin: 0;
	top:35px;
	position: relative;
	display: inline;
}