html, body{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans';
	width: 350px;
	height: 225px;
	overflow: hidden;
	color: white;

	
}
html{
	background: url(../img/bg.png) no-repeat;
	background-position: center bottom;
}
a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: orange;
	text-decoration: none;
}
.button{
	cursor: pointer;
	background: #E6E6E6;
	font-size: 18px;
	border: none;
	font-family: 'Vollkorn', serif;
	padding: 3px 10px;
	display: inline-block;
	color: black;
	text-decoration: none;

}
.button:hover{
	color: black;
	background: #FFCF54;
}

#title {}
#main{
	width: 350px;
	height: 225px;
}
#title{
	height: 30px;
	width: 100%;
	
	text-align: center;
	background: #111;
	margin: 0;
	position: fixed;
	top: 0px;
	padding-top: 5px;
	z-index: 1000;
}
#title h3{
	color: white;
	font-weight: 400;
	display: inline;
	font-family: 'Vollkorn', serif;
	position: relative;
	font-size: 20px;
}
#back{
	position: absolute;
	left: 15px;
	top: 5px;
	cursor: pointer;
}
.screen{
	margin: 0px;
	height: 195px;
	position: relative;
	top: 30px;
	padding-top: 30px;
	}
.card{
	display: none;	
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}
input[type=text]{
	text-align: center;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	font-family: 'Open Sans';
	color: white;
	font-size: 18px;
}
#number_input{
	font-size: 12px;
	color: red;
	margin-top: 10px;
}
textarea:focus, input:focus{
	outline: none;
	border-bottom: 1px solid orange;
}
#ajaxload{
	margin: 50px auto 0px auto;
	width: 32px;
	display: block;
}
#newSet #loading{
	display: none;
}
.prev, .next{
	position: absolute;
	top: 80px;
	background: none;
	color: rgb(190, 190, 190);
	font-family:'Walter Turncoat', cursive;
	font-size: 40px;
	border: none;
	cursor: pointer;
	font-family: 'Vollkorn', serif;
	z-index: 500;
}
.prev:hover, .next:hover{
	color: orange;
}
.prev-hover, .next-hover{
	color: orange;
}
.prev{	
	left: 0px;
}
.next{
	right: 0px;
}
.term{
	font-size: 20px;
	margin: 0;
	top:30px;
	position: relative;
	display: inline;
	color: white;
	font-family: 'Vollkorn', serif;
	font-size: 20px;
}
.term-big{
	font-size: 27px !important;
}
.def{
	margin: 0;
	top:35px;
	position: relative;
	color: #E0E0E0;
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	margin: 0 auto;
	font-size: 15px;
}
.def-big{
	font-size: 18px !important;
}
#saveSetButton{
	bottom:15px;
	position: absolute;
	z-index: 500;
	width: 16px;
	height: 16px;
	background: url(../img/save_icon.png);
	background-repeat: no-repeat;
	right: 37px;
	padding: 0px;
	margin: 0px;
}
#saveForm{
}
#saveSuccess{
	display: none;
	text-align:center;
	color: orange;
}
#saveSuccess img{
	margin: 40px auto 0px auto;
	display: block;
}
#studySettingsButton{
	bottom:15px;
	position: absolute;
	z-index: 500;
	width: 16px;
	height: 16px;
	background-image: url(../img/options_icon.png);
	background-color: transparent;
	background-repeat: no-repeat;
	right: 15px;
	padding: 0px;
	margin: 0px;
}

#home {
    text-align: center;
}
#new_button {
    margin-top: 40px;
    margin-bottom: 10px;
}
#title {}
#studySettings{
	position: absolute;
	z-index: 1000;
	width: 100px;
	border-radius: 5px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.84);
	right: 10px;
	bottom: 35px;
	display: none;
}
#studySettings::before {
	content: '';
	position: absolute;
	right: 10px;
	bottom: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(255, 255, 255, 0.84);
}
#studySettings label{
	float: left;
	display: inline;
	font-size: 10px;
	color: black;
}